#logo{
    max-height:42px;
    margin-right:10px;
    margin-top:-12px;
    display:inline-block;
}

.element-size{
    width:200px;
}

button.btn.btn-success{
    margin-top:15px;
    margin-left:5px;
    margin-right:5px;
}


#new-event{
    text-align:center;
    padding:40px;
    background-color: #333333;
    background-size:cover;
}

@media (max-width:991px) {
    #promo{
        padding:20px;
    }
}

#new-event .jumbotron{
    border-radius:20px;
    padding:40px;
    background-color:rgba(255, 255, 255, 0.75);
    max-width:800px;
    margin:0 auto;
}

@media (max-width:991px) {
    #promo .jumbotron{
        padding:20px;
    }
}

#block_container
{
    text-align:center;
}
#date_from, #date_to
{
    display:inline;
}

