* {
    border-radius: 0 !important;
}

div#filter_events {
    margin-top: 40px;
    height: 30px;
    opacity: 0.8;
    display: flex;
}

#events_filters::placeholder {
    font-weight: bold;
    font-size: 16px;
}

#search_icon {
    height: 30px;
    width: 30px;
    margin-left: calc(100% - 37px);
    margin-top: 42px;
}