<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
           <a><strong id="logo_name">{{currentModuleName}}</strong></a>
            <button [ngStyle]="{'background-color' : (isCollapsed === true) ? '#2c827f' : '#125553'}"
                    class="navbar-toggle navbar-collapse btn" (click)="isCollapsed=!isCollapsed"><span
                    class="sr-only">Toggle navigation</span><span class="navcol-1"></span><span
                    class="icon-bar"></span><span
                    class="icon-bar"></span></button>
        </div>

        <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li [ngClass]="{'active' : activeMenu === 'new-offer'}" role="option"
                    (click)="this.router.navigateByUrl('/new-offer')">
                    <a style="cursor: pointer">Utwórz ofertę </a></li>
                <li [ngClass]="{'active' : activeMenu === 'receive-offer'}" role="option"
                    (click)="this.router.navigateByUrl('/receive-offer')">
                    <a style="cursor: pointer">Pobierz ofertę </a></li>
                <li [ngClass]="{'active' : activeMenu === 'statistics'}" role="option"
                    (click)="this.router.navigateByUrl('/statistics')">
                    <a style="cursor: pointer">Statystyki </a></li>
                <li [ngClass]="{'active' : activeMenu === 'logout'}" role="option"
                    (click)="this.router.navigateByUrl('/logout')">
                    <a style="cursor: pointer">Wyloguj </a></li>
            </ul>
        </div>
    </div>
</nav>
