* {
    border-radius: 0 !important;
}

li#list_group.list-group-item {
    margin: 0;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 5px;
}

img#event_picture {
    height: 70px;
    width: 70px;
    display: block;
}

div#info_title_and_date {
    display: inline;
    margin-left: 15px;
}

span#event_title {
    font-weight: bold;
    display: block;
}

span#event_datetime {
    display: block;
}

div#img_buttons_status_and_details {
    position: absolute;
    right: 0;

    margin-right: 10px;
}

img#status {
    height: 25px;
    width: 25px;
    display: block;
}

img#details {
    height: 25px;
    width: 25px;
    margin-top: 10px;
}