<li class="list-group-item" id="list_group">
  <img src="../../../assets/img/event/sample_event_picture.jpg" id="event_picture" />
  <div id="info_title_and_date">
    <span id="event_title">{{event.name}}</span>
    <span id="event_datetime">{{event.dateFrom}} - {{event.dateTo}}</span>
  </div>
  <div id="img_buttons_status_and_details">
    <img src="../../../assets/img/event/event_status_available.png" id="status" />
    <img src="../../../assets/img/event/event_details.png" id="details" style="cursor: pointer" />
  </div>
</li>